[Unit]
Description=Labgrid Coordinator
After=network.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/ubuntu/git/k3-host/.venv/bin/labgrid-coordinator
Restart=on-failure
User=ubuntu

[Install]
WantedBy=multi-user.target
